<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--  1.定义RabbitMQ的连接工厂 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="127.0.0.1" port="5672" username="huang" password="1995"
                               virtual-host="/taotao" />


    <!-- 2.定义Rabbit模板，指定连接工厂以及定义exchange -->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="taotaoExchange" />

    <!-- MQ的管理，包括队列、交换器 声明等 -->
    <rabbit:admin connection-factory="connectionFactory" />


    <!-- 定义交换器，自动声明 -->
    <rabbit:topic-exchange name="taotaoExchange" auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding pattern="order" queue="orderQueue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>


    <!-- 定义队列，自动声明 这个队列是持久化的-->
    <rabbit:queue name="orderQueue" auto-declare="true" durable="true" />
    <!-- 消费者 -->
    <bean id="orderConsumer2" class="com.taotao.order.service.impl.OrderConsumer2" />
    <!-- 将消费者绑定到这个队列上面 队列绑定到交换机上面，这样联系起来了-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="manual" concurrency="2" prefetch="3">
        <rabbit:listener ref="orderConsumer2" method="onMessage" queue-names="orderQueue" />
    </rabbit:listener-container>





</beans>