<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--这边是生产者，不需要定义队列，直接发送给exchange就完事了-->

    <!--  1.定义RabbitMQ的连接工厂 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="127.0.0.1"
                               port="5672"
                               username="huang"
                               password="1995"
                               virtual-host="/taotao"
                               publisher-confirms="true"
                               />


    <!-- 2.定义Rabbit模板，指定连接工厂以及定义exchange -->
    <rabbit:template id="amqpTemplate"
                     connection-factory="connectionFactory"
                     exchange="taotaoExchange"
                     confirm-callback="confirmCallBackListener"
                     return-callback="returnCallBackListener"
                     mandatory="true"/>

    <!-- MQ的管理，包括队列、交换器 声明等 -->
    <rabbit:admin connection-factory="connectionFactory" />

    <!--定义交换器 自动声明 生产者直接连接到交换机 -->
    <rabbit:topic-exchange name="taotaoExchange" auto-declare="true">
    </rabbit:topic-exchange>

</beans>