<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.TbItemMapper" >
  <resultMap id="BaseResultMap" type="com.taotao.pojo.TbItem" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="OTHER" />
    <result column="SELL_POINT" property="sellPoint" jdbcType="OTHER" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="NUM" property="num" jdbcType="DECIMAL" />
    <result column="BARCODE" property="barcode" jdbcType="OTHER" />
    <result column="IMAGE" property="image" jdbcType="OTHER" />
    <result column="CID" property="cid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATED" property="created" jdbcType="DATE" />
    <result column="updated" property="updated" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, TITLE, SELL_POINT, PRICE, NUM, BARCODE, IMAGE, CID, STATUS, CREATED, updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taotao.pojo.TbItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HUANG.TB_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from HUANG.TB_ITEM
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from HUANG.TB_ITEM
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.taotao.pojo.TbItemExample" >
    delete from HUANG.TB_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taotao.pojo.TbItem" >
    insert into HUANG.TB_ITEM (id, TITLE, SELL_POINT, 
      PRICE, NUM, BARCODE, 
      IMAGE, CID, STATUS, CREATED, 
      updated)
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=OTHER}, #{sellPoint,jdbcType=OTHER}, 
      #{price,jdbcType=DECIMAL}, #{num,jdbcType=DECIMAL}, #{barcode,jdbcType=OTHER}, 
      #{image,jdbcType=OTHER}, #{cid,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{created,jdbcType=DATE}, 
      #{updated,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.taotao.pojo.TbItem" >
    insert into HUANG.TB_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="sellPoint != null" >
        SELL_POINT,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="barcode != null" >
        BARCODE,
      </if>
      <if test="image != null" >
        IMAGE,
      </if>
      <if test="cid != null" >
        CID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=OTHER},
      </if>
      <if test="sellPoint != null" >
        #{sellPoint,jdbcType=OTHER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=OTHER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=OTHER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="created != null" >
        #{created,jdbcType=DATE},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taotao.pojo.TbItemExample" resultType="java.lang.Integer" >
    select count(*) from HUANG.TB_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HUANG.TB_ITEM
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=OTHER},
      </if>
      <if test="record.sellPoint != null" >
        SELL_POINT = #{record.sellPoint,jdbcType=OTHER},
      </if>
      <if test="record.price != null" >
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.num != null" >
        NUM = #{record.num,jdbcType=DECIMAL},
      </if>
      <if test="record.barcode != null" >
        BARCODE = #{record.barcode,jdbcType=OTHER},
      </if>
      <if test="record.image != null" >
        IMAGE = #{record.image,jdbcType=OTHER},
      </if>
      <if test="record.cid != null" >
        CID = #{record.cid,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.created != null" >
        CREATED = #{record.created,jdbcType=DATE},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HUANG.TB_ITEM
    set id = #{record.id,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=OTHER},
      SELL_POINT = #{record.sellPoint,jdbcType=OTHER},
      PRICE = #{record.price,jdbcType=DECIMAL},
      NUM = #{record.num,jdbcType=DECIMAL},
      BARCODE = #{record.barcode,jdbcType=OTHER},
      IMAGE = #{record.image,jdbcType=OTHER},
      CID = #{record.cid,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      CREATED = #{record.created,jdbcType=DATE},
      updated = #{record.updated,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taotao.pojo.TbItem" >
    update HUANG.TB_ITEM
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=OTHER},
      </if>
      <if test="sellPoint != null" >
        SELL_POINT = #{sellPoint,jdbcType=OTHER},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=DECIMAL},
      </if>
      <if test="barcode != null" >
        BARCODE = #{barcode,jdbcType=OTHER},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=OTHER},
      </if>
      <if test="cid != null" >
        CID = #{cid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=DATE},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taotao.pojo.TbItem" >
    update HUANG.TB_ITEM
    set TITLE = #{title,jdbcType=OTHER},
      SELL_POINT = #{sellPoint,jdbcType=OTHER},
      PRICE = #{price,jdbcType=DECIMAL},
      NUM = #{num,jdbcType=DECIMAL},
      BARCODE = #{barcode,jdbcType=OTHER},
      IMAGE = #{image,jdbcType=OTHER},
      CID = #{cid,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATED = #{created,jdbcType=DATE},
      updated = #{updated,jdbcType=DATE}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>