<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.TbUserMapper" >
  <resultMap id="BaseResultMap" type="com.taotao.pojo.TbUser" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="USERNAME" property="username" jdbcType="OTHER" />
    <result column="PASSWORD" property="password" jdbcType="OTHER" />
    <result column="PHONE" property="phone" jdbcType="OTHER" />
    <result column="EMAIL" property="email" jdbcType="OTHER" />
    <result column="CREATED" property="created" jdbcType="DATE" />
    <result column="UPDATED" property="updated" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, USERNAME, PASSWORD, PHONE, EMAIL, CREATED, UPDATED
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taotao.pojo.TbUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HUANG.TB_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from HUANG.TB_USER
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from HUANG.TB_USER
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.taotao.pojo.TbUserExample" >
    delete from HUANG.TB_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taotao.pojo.TbUser" >
    insert into HUANG.TB_USER (id, USERNAME, PASSWORD, 
      PHONE, EMAIL, CREATED, UPDATED
      )
    values (#{id,jdbcType=DECIMAL}, #{username,jdbcType=OTHER}, #{password,jdbcType=OTHER}, 
      #{phone,jdbcType=OTHER}, #{email,jdbcType=OTHER}, #{created,jdbcType=DATE}, #{updated,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taotao.pojo.TbUser" >
    insert into HUANG.TB_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="updated != null" >
        UPDATED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=OTHER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=OTHER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=OTHER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=OTHER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=DATE},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taotao.pojo.TbUserExample" resultType="java.lang.Integer" >
    select count(*) from HUANG.TB_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HUANG.TB_USER
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=OTHER},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=OTHER},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=OTHER},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=OTHER},
      </if>
      <if test="record.created != null" >
        CREATED = #{record.created,jdbcType=DATE},
      </if>
      <if test="record.updated != null" >
        UPDATED = #{record.updated,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HUANG.TB_USER
    set id = #{record.id,jdbcType=DECIMAL},
      USERNAME = #{record.username,jdbcType=OTHER},
      PASSWORD = #{record.password,jdbcType=OTHER},
      PHONE = #{record.phone,jdbcType=OTHER},
      EMAIL = #{record.email,jdbcType=OTHER},
      CREATED = #{record.created,jdbcType=DATE},
      UPDATED = #{record.updated,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taotao.pojo.TbUser" >
    update HUANG.TB_USER
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=OTHER},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=OTHER},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=OTHER},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=OTHER},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=DATE},
      </if>
      <if test="updated != null" >
        UPDATED = #{updated,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taotao.pojo.TbUser" >
    update HUANG.TB_USER
    set USERNAME = #{username,jdbcType=OTHER},
      PASSWORD = #{password,jdbcType=OTHER},
      PHONE = #{phone,jdbcType=OTHER},
      EMAIL = #{email,jdbcType=OTHER},
      CREATED = #{created,jdbcType=DATE},
      UPDATED = #{updated,jdbcType=DATE}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>